<div class="container px-4 my-5">
    <h1 class="text-center" style="margin-bottom: 20px;">LOGIN</h1>
    <div class="row gx-5 mb-3">
        <label class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="nombre" #nombre>
        </div>
    </div>
    <div class="row gx-5 mb-3">
        <label class="col-sm-2 col-form-label">Apellido</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="apellidos" #apellidos>
        </div>
    </div>
    <div class="row gx-5 mb-3">
        <label class="col-sm-2 col-form-label">Imagen</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="imagen" #imagen>
        </div>
    </div>
    <div class="row gx-5 mb-3">
        <label class="col-sm-2 col-form-label">Cursos</label>
        <div class="col-sm-10">
            <select class="form-control" name="idCurso" #idCurso>
                <option *ngFor="let curso of cursos">{{curso}}</option>
            </select>
        </div>
    </div>
    <div class="row gx-5">
        <div class="col-sm-10 offset-sm-2">
            <button (click)="actualizar()" class="btn btn-info btn-custom">Token</button>
        </div>
    </div>
</div>
